@font-face {
  font-family: "Intro";
  src: url(fonts/Intro.ttf) format("truetype");
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
}

.leftSide {
  display: flex;
  flex-direction: row;
  background-image: url("images/back.jpg");
  background-size: cover;
  background-position: center;
  width: 90vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: "Intro";
  font-size: 40px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sleepLogo {
  width: 100px;
  height: 100px;
}

/* right section */

.rightSide {
  padding-top: 15vh;
}

.info {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin: 1em;
  padding-right: 200px;
}

/* form stuff */

.formContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: "Poppins";
  background-color: #f7f2f262;
  border-radius: 1rem;
}

.input {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  font-size: 0.7rem;
  text-transform: uppercase;
  opacity: 50%;
}

.form-title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}

/* From uiverse.io by @adamgiebl */

.submit-button {
  padding: 20px;
}
button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  font-family: "Poppins";
  border-radius: 0.5em;
  background: white;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
}

button:hover {
  border: 1px solid black;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.p2 {
  font-family: "Poppins";
  padding: 20px;
}
span {
  color: rgb(255, 162, 0);
}
